body {
	display: grid;
	grid-template-columns: auto 1020px auto;
	margin: 0;
	font-family: Arial, sans-serif;
}

main {
	grid-column: 2;
	height: 1614px;
	width: 984px;
	margin: 18px;
	box-sizing: border-box;
	background-color: rgb(246, 245, 243);
	display: flex;
	flex-direction: column;
	flex: 0 0 940px;
}

header {
	display: flex;
	justify-content: flex-end;
	height: 130px;
}

.logo {
	margin-right: 74px;
}

.type-selection {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 33px;
}

.promo__text {
	height: 201px;
	width: 644px;
	margin: 0;
	font-size: 36px;
}

.promo__text::first-letter {
	margin-left:-1.1rem;
}

.button-box {
	display: flex;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: rgb(255, 219, 74);
	box-shadow: 1px 1px 3px 1px rgba(255, 90, 0, .8);
	cursor: pointer;
}

.button-box:hover {
	opacity: .8;
}

.button-box:hover .button-img {
	opacity: .8;
}

.button-img {
	margin: auto;
}

.type-selection__button-move_left {
	order: -1;
	margin-right: 34px;
}

.type-selection__button-move_rigth {
	margin-left: 26px;
}

.type-selection__button-move-img_left {
	margin-left: 20px;
}

.type-selection__button-move-img_rigth {
	margin-left: 23px;
}

.promo-video {
	display: flex;
	justify-content: center;
	padding-top: 52px;
}

.promo-video__wrapper {
	height: 361px;
	width: 641px;
	position: relative;
}

.promo-video__img {
	position: absolute;
}

.promo-video__description-background {
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: #29363c; 
	opacity: .7;
}

.promo-video__description-text {
	position: absolute;
	top: 8px;
	left: 171px;
	color: #fff;
	font-size: 29px;
}

.promo-video__button-play {
	position: absolute;
	top: 121px;
	left: 256px;
	height: 126px;
	width: 126px;
}

.promo-video__button-play-img {
	margin-top: 35px;
	margin-left: 47px;
}

.advantages {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
}

.advantages__headline {
	width: 829px;
	font-size: 47px;
	font-weight: normal;
	margin: 0;
}

.advantages__wrapper {
	display: flex;
	width: calc(100% - 44px);
	justify-content: space-between;
	flex: 0 0 225px;
	margin: 31px 4px 0 40px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 225px;
}

.img__wrapper {
	height: 93px;
}

.advantages__item:last-child .advantages__img {
	margin-top: 8px;
}

.advantages__h2 {
	width: 95%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 16px;
}

.advantages__text {
	font-size: 16px;
	margin: 0;
}

.call {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 74px;
}

.call__headline {
	font-size: 42px;
	margin-bottom: 55px;
}

.call__button {
	height: 70px;
	width: 317px;
	border-radius: 8px;
	border: none;
	background: linear-gradient(rgb(255, 227, 74), rgb(255, 219, 0));
	cursor: pointer;
}

.call__button-text {
	font-size: 36px;
	line-height: .556;
	text-align: center;
	color: rgba(0, 0, 0, .72);
}

.call__button:hover {
	background-image: linear-gradient(180deg, rgba(255, 227, 74, .82
		), rgba(255, 219, 0, .82));
}

.call__button:hover .call__button-text {
	text-shadow: 
	1px 1px 0px rgba(255, 255, 255, .36),
	0px 0px 0px rgba(0, 0, 0, .72);
}